* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /*background : color image repeat position/size */
    /*background: url(./assets/bg-mobile.jpg) no-repeat top center/cover;*/

    background-image: url(./assets/bg-mobile.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}

body *{
    font-family: "Inter", sans-serif;
    color: white;
}

#container{
    width: 360px;
    /*height: 712px;*/
    border: 1px solid red;
    /*
    margin-left: auto;
    margin-right: auto;
    */
    margin: auto;
    /*margin-top: 56px*/
    padding-top: 56px;

    /*width: 360px;
    margin: 56px auto 0px;
     */

}

#profile {
    text-align: center;
    padding: 24px;
}

#profile img{
    width: 112px;
    display: block;
    margin: auto;
}

#profile p{
    font-weight: 500;
    /*O font-size já é de 16px*/
    /*font-size: 16px;*/
    line-height: 24px;
}

